body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    height: 100%;
}


/*--- Full-Screen ---*/

.full-screen {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.flex-fill {
    flex: 1 1 auto;
}

.jumbotron {
    height: 65vh;
    background: rgba(204, 204, 204, 0.5);
}


#h10 {
    height: 10%;
}

#h20 {
    height: 20%;
}

#h30 {
    height: 30%;
}

#h70 {
    height: 70%;
}

#h80 {
    height: 80%;
}

#h85 {
    height: 85%;
}

#h90 {
    height: 90%;
}

#h100 {
    height: 100%;
}


.badge-pill{
    margin-right: 20px;
}

.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
}

#startinglist {
    padding-top: 20px;
    height: 100%;
    /*background: green;*/
}

#green {
    height: 100%;
    /*background: green;*/
}

.centerGameButtons {
    margin-top: auto;
    margin-bottom: auto;
}



#spielername{
    margin-top: 20px;
}
/*
#zerobtn,#doublebtn,#triplebtn,#backbtn{
    background: whitesmoke;
    color: black;
    font-size: 2em;
    height: 70px !important;
    /*transition:0s 100ms;
}*/

.full-height {
    min-height: 100%;
    overflow: hidden;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/*--- Player Site ---*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#spielerbutton {
    margin-top: 40px;
}


/*--- navigation bar ---*/

.navbar {
    background: #6ab446;
    height: 60px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}


/*--- Menu Page ---*/

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #6ab446;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}


/*--- General Settings ---*/



.menutitle {
    font-size: 5.5em;
}

/*--- buttons ---*/

/*
.btn {
    border: 1px;
    background: rgb(106, 180, 70);
    border-radius: 0!important;;
    color: #fff;
    box-shadow: none!important;
}

.playerbtn:focus {
    outline: 0!important;;
}

.playerbtn:hover {
    border: none!important;;
    background: rgb(106, 180, 70);
}

*/

#pointbtn{
    background: whitesmoke;
    color: black;
    font-size: 2em;
    width: 100px !important;
    height: 100px !important;
    transition:0s 100ms;
}

#pointbtn:active/*#zerobtn:active,#doublebtn:active*/{
    background: red;
    transition:0s;
}

#punktzahl, #spielername, #newsticker {
        text-shadow: 2px 2px 3px #000;
}
